body {
  color:rgb(187, 187, 187);
  background: 
    linear-gradient(rgba(0, 0, 0, 0),rgba(43, 43, 43, 0.163), rgba(2, 75, 2, 0.512), rgb(74, 121, 85), rgb(155, 228, 152)),
    url(/Users/amber/portfolio/images/snoww.jpg);
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;

}


h1 {
  background-color: rgba(78, 76, 76, 0.341);
  text-align: center;
}

h2 {
  text-align: center;
  background-color: rgba(180, 154, 134, 0.369);
}

h3 {
  color: rgb(186, 19, 19);
  text-decoration: underline;
  font-size: larger;
}

img {
  cursor: not-allowed;
  border-style: inherit;
  border-radius: 50%;
}

p {
  color: white;
}

ol {
  color: white;
}

h4 {
  color: white;
  font-size: smaller;
  text-align: center;
}